
/* font-family: 'Inter', sans-serif;
font-family: 'Russo One', sans-serif; */


.header{
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
    z-index: 99999;
}

.items{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.logo{
    width: 133px;
}

.menu_contact{
    width: 613px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0!important;
    padding: 0!important;
}

ul li a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
ul li a.active{
    color: #8C21ED;
}
ul li a:hover {
    color: #8C21ED;
  }

.contact-btn{
    padding: 14px 42px;
    margin-left: 77px;
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 159px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #6B1EF1, #CB28E5);
    transition:0.2s linear;
}

.contact-btn:hover {
    background: rgb(107,30,241);
    background: linear-gradient(90deg, rgba(107,30,241,1) 0%, rgba(203,40,229,1) 100%);
    color: #ffffff;
    box-shadow: 6px 16px 31px 8px #3B58EF26;

  }



  /* footer start */

  .footer{
      padding: 100px 0 30px;
      width: 100%;
      height: 100%;
      background: #18163B69;
  }

 .footer .items{
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
  }


  .footer .items h1{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
  }

  .footer .items form{
      margin-top: 50px;
  }
  .footer .items .form-control{
    width: 640px!important;
    padding: 15px 30px!important;
}
.footer .items .btn-outline-success{
    padding: 15px 40px!important;
    border: 10px solid!important;
    border-image-slice: 1!important;
    border-width: 3px!important;
    border-image-source: linear-gradient(to right, #6B1EF1, #CB28E5)!important;;
    background: transparent!important;
    font-family: 'Inter'!important;;
    font-style: normal;
    font-weight: 400!important;;
    font-size: 16px!important;;
    line-height: 19px;
    color: #FFFFFF!important;;
    
}

.footer .items .btn-outline-success:hover {
    background: rgb(107,30,241);
    background: linear-gradient(90deg, rgba(107,30,241,1) 0%, rgba(203,40,229,1) 100%)!important;
    color: #ffffff;
    box-shadow: 6px 16px 31px 8px #3B58EF26;
  }





.footer-bottom{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom .icons svg{
    width: 20px!important;
    height: 20px!important;
    cursor: pointer;
    color: #5B5B5B;
}
.footer-bottom p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #6E7C9D;
margin: 0;
}